body {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table,
th,
td {
    border: 1px solid black;
    border-style: dashed;
    font: bolder;
    font-size: 30px;
    font-style: oblique
}

p {
    font-size: 20px;
    color: black;
    font: bold;
}